.section__padding{
    padding: 0rem 2rem;
    margin-bottom: 0vh;
    min-width: 150vh;
    margin-top: 10%;

}
.footer{
    background-color: #2d2d32;
    position:relative;
   
    left: 0;
    right: 0;
    height: 30vh;
}
.sb__footer{
    display: flex;
    flex-direction: column;
}
.sb__footer-links_div{
    padding: 0vh;
    width: 900px;
    margin: 0rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.socialmedia{
    display: flex;
    flex-direction: row;
}
.socialmedia img{
    width: 80%;
}
.sb__footer-links_div h3{
    color: rgb(254, 254, 254);
    text-align:start;
    margin-block-start: 0%;
    transition: all 0.1s linear;
}
.sb__footer-links_div h3:hover{
    color:rgb(40, 57, 205);
}
.sb__footer-links_div h4{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 5.9rem;
}
.sb__footer.below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}
hr{
    color:white;
    width: 145%;
}
@media screen and (max-width: 850px) {
    .sb__footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb__footer-links div{
    margin: 1rem 0;
    }
    .sb__footer.btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .sb__footer-below{
        flex-direction: column;
        justify-content: left;

    }
    .sb__footer-below-links{
        flex-direction: column;

    }
    .sb__footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .sb__footer-heading h1{
     font-size: 27px; 
     line-height: 38px;  
    }
}
