#root {
  padding: 0rem;
  text-align: center;
  max-height: 70vh;
  min-width: 175vh;
}

ul {
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    font-style: initial;
    min-height: 5vh;
   
  top: 10px;
  left: 0%;
  margin-top: 0rem;
    color:rgba(255, 0, 0, 0.5);
    
  }
