#root {
  text-align: center;
  min-width: 176vh;
  background-color:tan;
  margin-top: 0px;
}
ul {
  width:max-content;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    font-style: initial;
    text-align: justify;
    position: sticky;
    top: 0px;
    left: 0%;
    z-index: 40;
    }
.nav_item {
  margin-top: 3%;
}
div{
text-align: justify;
font-family: "Calisto MT", Times, serif;
font-size: 20px;
font-weight:400;
}
hr{
  height: 0;
  color: black;
}
.mytab{
  background-color: tan;
}
.nav-tabs .nav-item{
  background-color:  #A75502;
  color: white;
  transition: all 0.1s linear;
}
.nav-tabs .nav-item:hover {
  font-size: 18px;
}
.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
  padding: 5bh;
}
.nav-tabs > li > a {
  color: #575757;
}
.nav .nav-link{
  color: rgb(0, 0, 0);
}
