#root {
  
  text-align: center;
  min-width: 175vh;
  background-color:tan;
  text-decoration-color: tan;
  padding: 1%;

}

ul {
    padding-left: 10%;
    
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    font-style: initial;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: justify;
    position: sticky;
    z-index: 40;
    top: 10px;
    left: 0%;
    margin-top: 0rem;
    color:tan;
    }
.nav_item {
  
  margin-top: 3%;
}
div{
text-align: justify;
font-family: "Calisto MT", Times, serif;
font-size: 20px;
font-weight:400;
}
hr{
  height: 0;
  color: black;
}
.mytab{
  background-color: tan;
}
.nav-tabs .nav-item{
  background-color:  #E6DCD3;
  color: white;
  transition: all 0.1s linear;

}
.nav-tabs .nav-item:hover {
  font-size: 25px;
}
.nav-tabs{
 color: rgb(235, 0, 0);
 }
.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
  padding: 5bh;
}
.nav-tabs > li > a {
  color: #575757;
}
.nav .nav-link{
  color: rgb(0, 0, 0);
}
