body {
  margin: 1000;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: tan;
  
}

.center-container {
  text-align: left;
}

h1 {
  font-family: inherit;
  font-size: 1000px;
  font-weight: bold;
  font-style: initial;
  position: absolute;
top: 30px;
left: 35%;
  color:black;
  text-align: left;
  
}
