#root {
  max-width: 2500px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
.paragraph{
  text text-align: end;
}
.header{
  color:rgb(219, 40, 40);
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: rgb(247, 0, 0);
}
