#root {
  min-height: 1500px;
  max-width: 60px;
  margin: auto;
  padding: 0rem;
  text-align: center;
  background-color: tan;
  background-size: cover;
}


.read-the-docs {
  color: tan;
}
hr{
  
  width: 100%;
}
.img{
  display: flex;
  align-items: flex-start;
}
