#root {
  min-height: 100vh;
  max-width: 60px;
  margin: auto;
  padding: 0rem;
  text-align: center;
  background-color: tan;
  background-size: cover;
  display: flex;
  flex-direction: column;

}
hr{
  
  width: 100%;
}

.symbol{
  position: absolute;
  left: 0;
  top: 0;
  
}
.logo2{
  position: absolute;
  right: 0%;
  top: 0;
  
}
